mixin modal()
	//  start modals
	//-a(href="modal-call").link-modal-js modal-call
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title Заказать звонок
					+e.inputs
						+input("Ваше имя*", 'text')(required)
						+input("+7 (___) ___-__-__", 'tel')(required)
					+e.LABEL.policy
						input(type="checkbox" checked class="invisible")
						.circle
						.txt Я подтверждаю свое согласие на обработку моих персональных данных
					+e.BUTTON.btn(type="submit") Заказать&#160;звонок
					div
						+e.logo
							img(loading="lazy" src="img/@2x/logo.png" alt="")
	div(id="modal-offer"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title Получить коммерческое предложение
					+e.inputs
						+input("Ваше имя*", 'text')(required)
						+input("+7 (___) ___-__-__", 'tel')(required)
						+input("E-mail*", 'email')(required)
					+e.LABEL.policy
						input(type="checkbox" checked class="invisible")
						.circle
						.txt Я подтверждаю свое согласие на обработку моих персональных данных
					+e.BUTTON.btn(type="submit") Отправить
					div
						+e.logo
							img(loading="lazy" src="img/@2x/logo.png" alt="")
	// #modal-call
	
	// end modals