:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}

.carousel__button.is-close {
	top: 8px!important;
	right: 8px!important;

	color: $primary;
	font-size: 40px;
	font-weight: 100;

	svg{
		stroke: $black!important;
		filter: none!important;
	}
}
.modal-win {
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(554);

	padding: rem(32) rem(24);
	@include media-breakpoint-up(md){
		padding: rem(50) rem(70);
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.form-wrap{

		//-
		&__title{
			color: $black;
			font-size: rem(25);
			font-weight: 700;
			line-height: 1;
			margin-bottom: rem(40);
		}
		&__inputs{
			margin-bottom: rem(30);
		}
		&__input-wrap{
			margin-bottom: rem(15);
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__input{
			outline: none!important;
			border: 1px solid $gray-110!important;
			&:focus{
				border: 1px solid $primary!important;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
			}

			color: $black;
			font-size: rem(14);
			font-weight: 600;
			line-height: calc(20/14);

			border-radius: rem(30);
			background-color: $white;

			padding: rem(6.5) rem(20);
		}
		&__policy{
			cursor: pointer;
			text-align: left;
			display: flex;

			margin-bottom: rem(20);
			@include media-breakpoint-up(xl){
				margin-bottom: rem(30);
			}

			input:checked + .circle{
				border: 4px solid $primary;
			}
			.circle{
				flex-shrink: 0;
				border-radius: 50%;
				width: rem(16);
				height: rem(16);
				margin-right: rem(10);
				border: 1px solid $black;
				background-color: $white;
			}

			.txt{
				color: $black;
				font-size: rem(14);
				font-weight: 500;
				line-height: calc(21/14);
			}
		}

		//-
		&__btn{
			@extend .btn-default;
			display: inline-block;

			margin-bottom: rem(24);
			@include media-breakpoint-up(xl){
				margin-bottom: rem(44);
			}
		}

		//-
		&__logo{
			display: inline-block;

			img{
				max-width: 100%;
				width: auto;
				height: auto;
			}
		}
		&__{}
	}
}