:root {
  --animate-delay: 1.2s;


	--sPT: 80px;
	--sPB: 60px;
	--sTPB: #{rem(30)};
  @include media-breakpoint-up(xl) {
    --sPT: #{rem(80)};
    --sPB: #{rem(90)};
    --sTPB: #{rem(40)};
  }


  --bs-body-font-size: 14px;
  @include media-breakpoint-up(md){
    --bs-body-font-size: 15px;
  }
  @include media-breakpoint-up(xl){
    --bs-body-font-size: #{$em-base};
  }

  --swiperArrowSize: #{rem(68)};
  --swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
  --swiperBorderColorDef: var(--bs-primary);
  --swiperColorDef: var(--bs-primary);
  --swiperBgDef: #ffffff;

  --swiperBorderColorDefHover: var(--bs-primary);
  --swiperColorDefHover: var(--bs-primary);
  --swiperBgDefHover: #ffffff;


  --fancybox-bg: rgba(24, 24, 27, .77);

  	@include media-breakpoint-up(xl){
      
      --header-h: 108px;
    }
  	@include media-breakpoint-up(lg){
      
      --header-h: 77px;
    }
  	@include media-breakpoint-up(md){
      
      --header-h: 83px;
    }
    
    --header-h: 58px;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after{
  border-color: $primary;
}
.fancybox__container{
  --fancybox-accent-color: #{$primary} !important;
}