mixin sSlider(data)
	// start sSlider
	+b.SECTION.sSlider.section#sSlider&attributes(attributes)
		.container
			+e.slider-wrap
				.swiper.sSlider-slider-js
					.swiper-wrapper
						-for(var i = 0; i < 2; i++)
							+sSliderSlide(1)
							+sSliderSlide(2)
							+sSliderSlide(3)
							+sSliderSlide(4)
					.swiper-scrollbar
			+e.video
				<iframe width="560" height="315" src="https://www.youtube.com/embed/4gWtivJ9SuI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	// end sSlider

mixin sSliderSlide(imgNum)
	.swiper-slide
		+e.img(href=`img/@2x/sSlider-img-${imgNum}.png` data-fancybox="sSliderSlide")
			img(loading="lazy" src=`img/@2x/sSlider-img-${imgNum}.png` alt="")