// start .sSlider
.sSlider {
	// --sPT: #{rem(40)};
	// --sPB: #{rem(20)};
	// --sTPB: #{rem(30)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(58)};
		--sPB: #{rem(20)};
		--sTPB: #{rem(40)};
	}

	&__slider-wrap{
		.swiper{
			padding-bottom: rem(50);
		}
		.swiper-wrapper{
			margin-bottom: rem(30);
		}
		.swiper-slide{
			width: rem(263);
			@include media-breakpoint-up(md){
				width: calc(100%/3 - 30px*2/3);
			}
			@include media-breakpoint-up(lg){
				width: calc(100%/4 - 30px*3/4);
			}
		}
	}

	//-
	&__img{
		@extend .accept-ratio-frame-nh;
		@extend .ratio-hover;
		padding-top: calc(394/263 * 100%);
	}

	//-
	&__video{

		iframe{
			width: 100% !important;
			height: rem(470)!important;
		}
	}
	&__{}
} // end.sSlider