mixin sSlider(data)
	// start sSlider
	+b.sSlider.section#sSlider&attributes(attributes)
		.container
			if data.title
				+b.section-title
					h2=data.title
			+e.slider-wrap
				.swiper.sSlider-slider-js
					.swiper-wrapper
						-for(var i = 0; i < 2; i++)
							+sSliderSlide(1, data.dataFancy, data.imgName)
							+sSliderSlide(2, data.dataFancy, data.imgName)
							+sSliderSlide(3, data.dataFancy, data.imgName)
							+sSliderSlide(4, data.dataFancy, data.imgName)
					.swiper-scrollbar
			if data.video
			+e.video
				<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/4gWtivJ9SuI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	// end sSlider

mixin sSliderSlide(imgNum, dataFancy='sSliderSlide', imgName='sSlider-img-')
	.swiper-slide
		+e.img(href=`img/@2x/${imgName+imgNum}.png` data-fancybox=dataFancy)
			img(loading="lazy" src=`img/@2x/${imgName+imgNum}.png` alt="")