// start .sVideo
.sVideo {
	min-height: rem(300);
	padding: 0;
	text-align: center;
	video{
		width: 100%;
		height: auto;
		object-fit: cover;
		max-height: 1000px;
	}
	// height: rem(550);
	// max-height: calc(var(--vh) * 100);
	// background-color: $gray-550;

	&__{}
	&__{}
	&__{}
	&__{}
} // end.sVideo