mixin sVideo(data)
	// start sVideo
	+b.sVideo#sVideo&attributes(attributes)
		video(loading='lazy' preload='auto' no-controls='' autoplay='' loop='' playsinline='' muted='' ) 
			source(src='video/FINAL2.webm' type='video/webm')

	// end sVideo