extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sChars/_sChars.pug
include ../blocks/sScheme/_sScheme.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sImportant/_sImportant.pug
include ../blocks/sAction/_sAction.pug
include ../blocks/sUsefull/_sUsefull.pug
include ../blocks/sDelivery/_sDelivery.pug
include ../blocks/sFeedback/_sFeedback.pug
include ../blocks/sCalc/_sCalc.pug
include ../blocks/sMap/_sMap.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg='01.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	+topLine()
	+headerBlock()
	+sChars()
	+sScheme()
	+sVideo()
	+sSlider({
		video: true,
		imgName: 'sSlider-img-',
		dataFancy: 'sSliderSlide',
	})
	+sImportant()
	+sAction()
	+sUsefull()
	+sDelivery()
	+sFeedback()
	+sCalc()
	+sMap()
	+footer()