.top-nav {
	transition: none;
	background-color: $white;
		@include media-breakpoint-up(md){

			padding: var(--tn-padd, 10px 0);
		}
		padding: 5px 0;
	box-shadow: var(--tn-box-shadow, none);
	// @include mt;
	//-
	&__row{
		--bs-gutter-x: #{rem(15)};
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(38)};
		}
	}
	&__logo{
		transition: none;
		display: block;
		width: rem(150);
		@include media-breakpoint-up(xl){
			width: var(--logo-w, #{rem(213)});
		}

		img{
			width: 100%;
		}
	}
	&__txt{
		//-
		max-width: rem(180);
		font-weight: 600;
		line-height: calc(25/17);
	}
	&__col{

		&.tel-col{
			@include media-breakpoint-up(xl){
				position: relative;
				left: 15px;
			}
		}
	}
	&__btn{
		@extend .btn-default;
		padding: rem(10) rem(18);
	}
	&__{}
	&__{}
}

.iconed-row{
	--bs-gutter-x: #{rem(15)};
	&__sub-row{
		--bs-gutter-x: inherit;
	}

	&__icon{
		margin: 0;
		width: rem(35);
		height: rem(35);
		border-radius: 35px;
		padding: rem(8);

		border: 1px solid $black;

		display: flex;
		align-items: center;
		justify-content: center;
		--backplate-col: transparent;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__link{
		display: block;
		color: $black;
		&:hover{
			color: $primary;
		}

		font-weight: 600;
		line-height: calc(20/17);
	}
	&__wa{
		width: rem(35);
		height: rem(35);
		@include media-breakpoint-up(xl){
			width: rem(20);
			height: rem(20);
			position: relative;
			left: -5px;
		}


		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
		}
	}
}

.iconed-row__wa{
	img{
		max-width: 20px;
	}
}