// start .header
.header {
	position: fixed;
	//-position: absolute;
	--tn-padd: #{rem(20)} 0;
	&.fixed{
		//padding-bottom: 20px;
		--tn-box-shadow: 0 0 10px 0 #{rgba($black, .3)};
		--tn-padd: #{rem(10)} 0;
		--logo-w: #{rem(178)};
	}

	z-index: 900;
	top: 0;
	left: 0;
	//width: 100%;
	width: 100vw;
} // end.header