-
	var nav= {
		"Аренда":"#",
		"Условия аренды":"#",
		"Схема подключения":"#" ,
		"Важно":"#" ,
		"Акция":"#" ,
		"Информация":"#",
		"Отзывы":"#",
		"Калькулятор":"#",
		"Контакты":"#",
		}

mixin mnu()
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)=linkName
//- menu