-
	var nav= {
		"Аренда":"#sChars",
		"Условия аренды":"#slider",
		"Схема подключения":"#sScheme" ,
		"Важно":"#sImportant" ,
		"Акция":"#sAction" ,
		"Информация":"#sUsefull",
		"Отзывы":"#sFeedback",
		"Калькулятор":"#sCalc",
		"Контакты":"#sMap",
		}

mixin mnu()
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)=linkName
//- menu